
.featureProduct {
    margin-top: 190px;
    text-align: center;
    margin: 0 auto;
  }
  .featureProductDetails {
    margin-bottom: 130px;
  }
  .featureProductDetails h1 {
    font-family: "Spectral";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
  }
  .discoverProduct {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }
  .discoverProduct p{
    text-align: right;
    margin-right: 170px;
  }
  
  .featureProductCard {
    position: relative;
    width: 310px;
    height: 370px;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fffdfe;
    border: 1px solid #f5f5f5;
    box-shadow: 0px 8px 18px -7px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
  }
  
  .featureProductImage {
    width: 310px;
    height: 262px;
    margin-top: -110px;
    z-index: 2;
  }
  
  .preOrder{
position:absolute;
top:-50px;
left: 43px;
z-index: 20;
  }

  .featureProductCard div:nth-child(2) {
    font-size: 24px;
    font-weight: 600;
  }
  
  .featureProductCard div:nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 18px;
    gap: 8px;
    margin-bottom: 40px;
    font-weight: 600;
  }
  
  .featureProductCard div:nth-child(4) {
    font-size: 18px;
    /* color: #0e4b80; */
    font-weight: 600;
  }
  